input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#copyBtn:after {
    content: "Copied";
    line-height: 1.6;
    position: absolute;
    top: -12px;
    left: 25px;
    background: #39a10e;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

#copyBtn.copied:after {
    opacity: 1;
}